{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5">

    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card shadow">
                <div class="card-header bg-success text-white">
                    {% if edit is defined and edit %}
                        <h4 class="mb-0">Modifier la tache</h4>
                    {% else %}
                        <h4 class="mb-0 text-center">Nouvelle tache</h4>
                    {% endif %}
                </div>

                <div class="card-body">

                    {{ form_start(form) }}

                        <div class="mb-3">
                            {{ form_row(form.title) }}
                        </div>

                        <div class="mb-3">
                            {{ form_row(form.description) }}
                        </div>

                        <button class="btn btn-success">
                            {% if edit is defined and edit %}
                                Modifier
                            {% else %}
                                Enregistrer
                            {% endif %}
                        </button>

                    {{ form_end(form) }}

                    <a href="{{ path('task_index') }}" class="btn btn-secondary mt-3">
                        Retour
                    </a>

                </div>
            </div>

        </div>
    </div>

</div>
{% endblock %}