{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <h2>Nouvelle tâche</h2>

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        <button class="btn btn-success">Enregistrer</button>
    {{ form_end(form) }}

    <a href="{{ path('task_index') }}" class="btn btn-secondary mt-3">
        Retour
    </a>
</div>
{% endblock %}